<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>
    <h3><%= message %> </h3>
  <%end%>
<%end%>
<div class="form">
  <h1 class="heading">
    Signup
  </h1>
  <%= form_for @user do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %><br />
    <%= form.label :password %>
    <%= form.password_field :password, required: true %><br />
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: 'Confirm Password' ,required: true %><br />
    <%= form.submit "Create Account", class: "edit-button" %>
  <% end %>
  <div class="login-signup">
    <p>Changed my mind!</p>
    <%= button_to 'Back', login_path, method: :get, class: 'edit-button'%>
  </div>
</div>
