<h1 class="heading">My Files</h1>
<% if @documents.empty? %>
  <p>It feels so empty here!</p>
<% else %>
  <div class="documents-list">
    <span class="documents-list__title">Title</span>
    <span class="documents-list__title">Description</span>
    <span class="documents-list__title">Share Url</span>
    <span class="documents-list__title">Download</span>
    <span class="documents-list__title">Edit</span>
    <span class="documents-list__title">Delete</span>
    <% @documents.each do |doc| %>
      <span><%= doc.file %></span>
      <span><%= doc.description %></span>
      <% if doc.public_share %>
        <div>
          <%= button_to "Revoke Public Access" , share_path, params: { id: doc.id }, class: 'edit-button share-button', method: :get %>
          <span class="share-url"><%= "#{request.base_url}/download?id=#{doc.id}" %></span>
        </div>
      <% else %>
        <div>
          <%= button_to "Grant Public Access" , share_path, params: { id: doc.id }, class: 'edit-button share-button', method: :get %>
        </div>
      <% end %>
      <%= link_to "Download" , download_path(id: doc.id), method: :get %>
      <%= button_to "Edit" , edit_document_path(doc), class: 'edit-button', method: :get %>
      <%= button_to 'Delete', document_path(doc), method: :delete, class: 'delete-button' %>
    <% end %>
  </div>
<% end %>
<br />
<br />
<%=button_to 'Add file', new_document_path, method: :get, class: 'create-button' %>
