<!DOCTYPE html>
<html>
  <title>File Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__logo">
          <%= image_tag "logo.png"%>
          <span>Files Manager</span>
        </div>
        <% if current_user %>
          <div class="navbar__user">
            <span>Hi <%= current_user.username%></span>
            <% if logged_in? %>
              <%= button_to "Logout", sessions_path, method: :delete %>
            <% else %>
              <%= button_to "Login Page", login_path, method: :get %>
            <% end %>
          </div>
        <% end %>
      </nav>
      <% if notice %>
        <div class="nav__notice"><%= notice %></div>
      <% end %>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <br>
  </body>
</html>
